.App {
  /* text-align: center; */
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .App {
    width: 100%;
  }
}

h1 {
  text-align: center;
}

.loading {
  font-size: 1.2rem;
}

.posts-container, .comments-container {
  width: 100%;
  padding: 1rem;
}

.post, .comment {
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 5px 5px #aaaaaa;
  border-radius: 8px;
  border: 1px solid #aaaaaa;

}

.post-title {
  font-size: 25px;
}

.post-body {
  margin-top: 0.5rem;
  font-size: 16px;
}

.view-comments-link {
  font-weight: bold;
  color: #551a8b;
}

.comment-heading, .post-heading {
  font-size: 23px;
  font-weight: normal;
}

.author {
  font-size: 1.3rem;
}

.comment-body {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}
